<div class="container">
  <mat-form-field style="width: 80%;" appearance="outline">
    <mat-label>Textarea</mat-label>
    <textarea style="resize: none;" matInput></textarea>
  </mat-form-field>

  <div style="width: 80%;">
    <mat-card *ngIf="loadingLibrary" class="loader" style="width: max-content;"   @onOff>
      <mat-card-header style="padding: 0;">
        <div class="" style="display: flex;align-items: center;padding:0.8rem">
          <mat-icon style="margin-right: 10px;" color="primary">{{loaderIcon}}</mat-icon>
          Switching to {{loaderPlaceholder}}
        </div>
        <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <button mat-mini-fab color="primary" matTooltip="New topic" matTooltipPosition="above" class="small-icon-button">
      <mat-icon>edit</mat-icon>
    </button>

    <mat-form-field appearance="outline" style="width: 95%;">
      <textarea [placeholder]="textPlaceholder" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" style="resize: none;" matInput></textarea>
      <div class="textAreaContainer">

        <div class="queryChangeButtons">

          <button [matTooltip]="selectedMenu !== 1 ? 'Query internal knowledge':''"
            [ngClass]="selectedMenu == 1 ? 'activeMenu':'inActiveMenu'" mat-button (click)="selectedMenu !== 1 && menuChanged(1)"
            [matMenuTriggerFor]="selectedMenu == 1 ? menu: null">
            <mat-icon>menu_book</mat-icon>
            Internal Knowledge
          </button>
          <mat-menu #menu="matMenu">
            <div style="padding-inline:1rem;padding-block: 0.5rem;" (click)="$event.stopPropagation()">
              <h4 class="popupHeading">Internal Knowledge</h4>
              <p class="popupText">Select which sources of information should be accessed to find the answers.
              </p>

              <div class="mainDivInternal">
                <div>
                  <mat-slide-toggle checked="true" color="primary"></mat-slide-toggle>
                  <mat-icon class="smallerIcon">library_books</mat-icon>
                </div>

                <div class="secondaryDivInternal">
                  <span>
                    Desk shared files
                  </span>
                  <span>Preview data here</span>
                </div>

              </div>

              <div class="mainDivInternal" style="margin-block: 0.5rem;">
                <div>
                  <mat-slide-toggle color="primary"></mat-slide-toggle>
                  <mat-icon class="smallerIcon">library_books</mat-icon>
                </div>

                <div class="secondaryDivInternal">
                  <span>
                    PS Data bank
                  </span>
                  <span>Preview data here</span>
                </div>
              </div>

              <div class="mainDivInternal">
                <div>
                  <mat-slide-toggle checked="true" color="primary"></mat-slide-toggle>
                  <mat-icon class="smallerIcon">language</mat-icon>
                </div>

                <div class="secondaryDivInternal">
                  <span>
                    General public knowledge
                  </span>
                  <span style="color: black;">General data via GPT-4</span>
                </div>

              </div>

            </div>
          </mat-menu>

          <button [matTooltip]="selectedMenu !== 2 ? 'Query the web':''"
            [ngClass]="selectedMenu == 2 ? 'activeMenu':'inActiveMenu'" mat-button (click)="menuChanged(2)">
            <mat-icon>language</mat-icon>
            Web Research
          </button>

          <button [matTooltip]="selectedMenu !== 3 ? 'Query GPT-4':''" mat-button
            [ngClass]="selectedMenu == 3 ? 'activeMenu':'inActiveMenu'" (click)="menuChanged(3)">
            <mat-icon>auto_awesome</mat-icon>
            Gpt-4 Turbo
          </button>

        </div>

        <div>
          <mat-icon class="endIcons" style="margin-right: 10px;">attach_file</mat-icon>
          <mat-icon class="endIcons">send</mat-icon>
        </div>

      </div>

    </mat-form-field>
  </div>

</div>